body {
  margin: 0;
  text-align: center;
  font-family: 'Questrial', sans-serif;
}

h1 {
  margin: 50px auto 20px auto;
  font-weight: 900;
  font-size: 5.5rem;
  font-family: 'Josefin Slab', serif;
  color: #064420;
    position: relative;
  z-index: 1;
}

h2 {
  margin-top: 40px;
  font-size: 2.5rem;
  font-weight: 600;
  color: #064420;
}

h3 {
  font-size: 1.7rem;
  color: #064420;
  font-weight: 900;
}

h4 {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}

hr {
  margin: 0 auto 0 auto;
  border-color: #022E57;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  width: 10%;
}

p {
  margin-top: 30px;
  font-size: 1.2rem;
  line-height: 2;
}

ul {
  font-size: 1.2rem;
}

#navbar {
  background-color: #DFFEC7;
}

.navbar {
  padding: 2.0rem 2.0rem;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.6rem;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

#title {
  background-color: #DFFEC7;
  padding-top: 100px;
  position: relative;
}

.subhead {
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  right: 110px;
}

.rotating-head {
  font-size: 2rem;
  font-weight: 800;
  display: inline;
  color: green;
}

.rotating-head span{
  animation: topToBottom 9s linear infinite 0s;
  -ms-animation: topToBottom 9s linear infinite 0s;
  -webkit-animation: topToBottom 9s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.rotating-head span:nth-child(2){
	animation-delay: 3s;
}

.rotating-head span:nth-child(3){
	animation-delay: 6s;
}

@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-10px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(10px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 0px;
  width: 15%;
  max-width: 150px;
}

.bottomcloud {
  position: absolute;
  top: 330px;
  left: 300px;
  width: 15%;
  max-width: 150px;
}

.mtn {
  margin: 70px 0 0 0;
  width: 40%;
}

#about {
  background-color: #EFFEC7;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile {
  margin: 50px auto;
  width: 70%;
}

.profpic {
  border-radius: 100%;
  position: relative;
  top:10px;
  width: 15%;
}

#skill-list {
  background-color: #EFFEC7;
  padding-top: 50px;
  padding-bottom: 50px;
}

.skill-row {
  margin: 50px auto 50px auto;
  width: 70%;
  text-align: left;
  line-height: 2;
}

.experience {
  margin: 50px auto;
  padding-top: 50px;
  width: 80%;
}

.experience-row {
  margin: 40px auto 0px;
}

.exp-box {
  padding: 40px 40px;
}

.school {
  width: 60%;
  margin-left: 150px;
  max-width: 250px;
}

.notebook {
  width: 60%;
  margin-left: 150px;
  max-width: 250px;
}

.bike {
  width: 30%;
  margin: 0 auto;
  max-width: 250px;
}

.rocket {
  width: 80%;
  margin-left: 150px;
  margin-top: 50px;
  max-width: 300px;
  border-radius: 5%
}

.scout {
  width: 50%;
  margin-left: 150px;
  max-width: 250px;
  border-radius: 100%;
}

.teach {
  width: 60%;
  margin-left: 150px;
  max-width: 250px;
  border-radius: 100%;
}

#languages {
  padding: 1px auto 40px;
  background-color: #56776C;
}

.tech {
  padding: 5% 10%;
}

.javascript, .html, .bootstrap, .css, .python, .cpp, .java, .swift, .arduino{
  width: 128px;
  transition: 0.3s ease-in-out;
}

.language-box {
  padding: 40px 20px;
}

.javascript:hover, .html:hover, .bootstrap:hover, .css:hover, .python:hover,
.cpp:hover, .java:hover, .swift:hover, .arduino:hover{
  transform: scale(1.1);
  opacity: 90%;
}

#contact {
  background-color: #DFFEC7;
  padding-top: 1px;
  padding-bottom: 60px;
}

.contact-me {
  margin: 0 auto 20px auto;
  width: 70%;
}

.yeet {
  margin-top: 30px;
}

.btn {
  margin-top: 20px;
   background: #02360A;
   background-image: -webkit-linear-gradient(top, #02360A, #024428);
   background-image: -moz-linear-gradient(top, #02360A, #024428);
   background-image: -ms-linear-gradient(top, #02360A, #024428);
   background-image: -o-linear-gradient(top, #02360A, #024428);
   background-image: -webkit-gradient(to bottom, #02360A, #024428);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: "Questrial";
   font-size: 15px;
   font-weight: 300;
   padding: 16px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 1px;
   background: #024428;
   background-image: -webkit-linear-gradient(top, #024428, #024428);
   background-image: -moz-linear-gradient(top, #024428, #024428);
   background-image: -ms-linear-gradient(top, #024428, #024428);
   background-image: -o-linear-gradient(top, #024428, #024428);
   background-image: -webkit-gradient(to bottom, #024428, #024428);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

#footer {
  background-color: #FFFEC7;
  padding-top: 75px;
  padding-bottom: 50px;
}

.footer-link {
  color: #024428;
  margin: 0 20px 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 991px) {

  p, h3, h4 {
    text-align: center;
  }

  .rocket {
    display: block;
    width: 60%;
    margin: 20px auto;
  }

  .scout, .teach, .bike, .school {
    display: block;
    width: 50%;
    margin: 20px auto;
  }

}
